asteroid-filterbanks >=0.4,<0.5
einops >=0.3,<0.4.0
huggingface_hub>=0.2,<0.3
librosa >=0.8,<0.9
networkx >= 2.6,<3.0
omegaconf >=2.1,<3.0
pyannote.core >=4.3,<5.0
pyannote.database >=4.1.1,<5.0
pyannote.metrics >=3.2,<4.0
pyannote.pipeline >=2.2,<3.0
pytorch_lightning >=1.5.4,<1.6
pytorch_metric_learning >=1.0.0,<2.0
semver >=2.10.2,<3.0
soundfile >=0.10.2,<0.11
spectralcluster >= 0.2.4,<0.3
torch >=1.9
torch-audiomentations >=0.9,<1.0
torchaudio >=0.10,<1.0
torchmetrics >=0.6,<1.0
typing_extensions >=4.0,<5.0
