Protocols:
   Debug:
      SpeakerDiarization:
         Debug:
            train:
               annotation: SOURCE/tests/data/debug.train.rttm
               annotated: SOURCE/tests/data/debug.train.uem
            development:
               annotation: SOURCE/tests/data/debug.development.rttm
               annotated: SOURCE/tests/data/debug.development.uem
            test:
               annotation: SOURCE/tests/data/debug.test.rttm
               annotated: SOURCE/tests/data/debug.test.uem

Databases:
   Debug: SOURCE/tests/data/{uri}.wav